*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
ul li a,
ul li a:after,
ul li a:before {
    transition: all .5s;
}
ul li a:hover{
    color: #555; 
}
main{
    display: flex;
    /* height: 100vh; */
    height: calc(100vh - 139px);
   
    align-items: center;
    justify-content: center;
}
.hero-img{
   max-width: 670px;
   height: auto; 
}
.content-left{
    width: 30%;
}
main h1 {
    font-size: 54px;
    color: aqua;
    text-transform: uppercase;
}
main h2{
    font-size: 25px;
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main p {
    font-size: 14px;
    font-weight: 400px;
    color:#333;
    line-height: 31.5px;
    margin: 30px 0;
}
button {
    padding: 15px 30px;
    background: #C4c4f7;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;

}
.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
